html,
body {
  font-family: 'Courgette';
  background-color: #f5f5f5;
}
ul {
  padding: 0;
  list-style: none outside;
}
h1,
h5 {
  text-align: center;
}
a:hover,
a:focus {
  text-decoration: none;
}
label {
  margin-bottom: 1em;
  color: #777;
}
#head {
  margin: 0 auto;
  width: 50%;
  margin-top: -20px;
  margin-bottom: 20px;
  text-shadow: -1px -1px 1px #fff;
}
#head h5 {
  margin-top: -40px;
}
#head h1 {
  font-size: 5em;
}
#head h1 a {
  color: #444;
}
#head h1 a:hover {
  color: #2f0202;
}
#recipes {
  text-align: center;
}
#recipes .timestamp {
  padding-right: 0;
  text-align: center;
}
#recipes h1 {
  font-family: 'Rosario', sans-serif;
  font-style: italic;
  color: #1a0000;
}
#recipes a {
  color: #534444;
}
#recipes a:hover {
  color: #2f0202;
}
.recipeHeaderContainer {
  padding-top: 2%;
  font-family: 'Courgette';
  text-align: center;
}
.recipeHeaderContainer a {
  color: #3f2205;
}
.recipeHeaderTitle {
  display: inline-block;
}
.recipeHeaderTitle h1 {
  color: #3e3131;
  font-family: 'Rosario', sans-serif;
  font-style: italic;
  font-size: 2em;
}
.recipeHeaderTools {
  position: absolute;
  display: inline-block;
  right: 20%;
}
.recipeHeaderTools a {
  color: #777;
  padding: 0 5px;
}
.recipeHeaderTools a:hover {
  color: #444;
}
.ingridients {
  text-align: center;
}
.content {
  font-family: 'Ubuntu:500', sans-serif;
  text-indent: 1.5em;
  text-align: justify;
  margin-top: 1em;
}
.timestamp {
  color: #888;
  letter-spacing: 2px;
  text-align: right;
  padding-right: 10%;
}
.timeTitle {
  display: inline-block;
}
.timeValue {
  display: inline-block;
  padding-left: 1em;
  text-align: left;
}
#categories li {
  padding: 5px;
  border-left: 1px double #5b4f4f;
  -webkit-transition: border-left 0.4s;
  -moz-transition: border-left 0.4s;
  -o-transition: border-left 0.4s;
  -ms-transition: border-left 0.4s;
  transition: border-left 0.4s;
}
#categories .active {
  background-color: #fff;
}
#categories li:hover {
  border-left: 4px double #5b4f4f;
  -webkit-transition: border-left 0.4s;
  -moz-transition: border-left 0.4s;
  -o-transition: border-left 0.4s;
  -ms-transition: border-left 0.4s;
  transition: border-left 0.4s;
}
#categories a {
  font-family: 'Courgette';
  color: #3c3131;
}
#new {
  margin-bottom: 2em;
}
#new a {
  color: #4a3939;
  font-size: 1.5em;
  padding: 10px;
  font-weight: bold;
  line-height: 1em;
  -webkit-transition: letter-spacing 0.5s;
  -moz-transition: letter-spacing 0.5s;
  -o-transition: letter-spacing 0.5s;
  -ms-transition: letter-spacing 0.5s;
  transition: letter-spacing 0.5s;
}
#new a:hover {
  letter-spacing: 2px;
  -webkit-transition: letter-spacing 0.2s;
  -moz-transition: letter-spacing 0.2s;
  -o-transition: letter-spacing 0.2s;
  -ms-transition: letter-spacing 0.2s;
  transition: letter-spacing 0.2s;
}
#formDel {
  position: absolute;
  right: 0;
}
.modal-body,
.modal-header {
  font-family: 'Ubuntu:500', sans-serif;
}
.gradient {
  border-top: 1px solid #fff;
  background: -webkit-linear-gradient(top, #f2f2f2 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, #f2f2f2 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 100%);
  -webkit-box-shadow: 0px -1px 0px 0px #e3e3e3;
  box-shadow: 0px -1px 0px 0px #e3e3e3;
}
footer {
  margin-top: 5%;
  padding: 1%;
  font-family: 'Dancing Script' cursive;
  text-align: center;
}
/* latin */
@font-face {
  font-family: Courgette;
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url("/fonts/Courgette-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: Dancing Script;
  font-style: normal;
  font-weight: 700;
  src: local('Dancing Script Bold'), local('DancingScript-Bold'), url("/fonts/DancingScript-Bold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: Rosario;
  font-style: italic;
  font-weight: 700;
  src: local('Rosario Bold Italic'), local('Rosario-BoldItalic'), url("/fonts/Rosario-BoldItalic.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url("/fonts/Ubuntu-Medium.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
