extends layout

block content
	.row
		header.col.clearfix
			#head.clearfix
				h1: a(href="/") #{title}
				h5 a recipe journal
	.row
		aside.col.col-lg-2.col-sm-3.col-xs-6
			#new
				a(href="/new") Add recipe
			ul#categories
				each category in categories
					li: a(href="/#{category._id}") #{category.title}
		main.col.col-lg-10.col-sm-9.col-xs-12
			include ./main.jade
	.row
		footer.gradient Alexeyev Alexey &copy; 2014
	a(href="https://github.com/Ne4to777/cookbook.git")
		img(style="position: absolute; top: 0; left: 0; border: 0;" src="/img/fork.png" alt="Fork me on GitHub")
