extends layout

block content
	include ./header.jade
	include ./categories.jade
	ul
		each recipe in recipes
			if recipe._category
				li: a(href="/#{recipe._category._id}/#{recipe._id}") #{recipe.title}
